<%- include('partials/header.ejs') %>
<body>
    <h1>This is home page</h1>

    <h3> 1+2</h3>
    <h3> <%= 1+2 %> </h3> 
    <h3> <%= ["namste", "Bonjour" , "hello"][0] %> </h3> 
    <!-- <%= %>  output the value into the  templae (html escaped)-->

    <p> 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quisquam et, quia at delectus mollitia eum provident cupiditate? Mollitia laborum, sunt consequatur nulla dolor cumque sapiente et! Veritatis, voluptatibus assumenda.
    </p>
    <button>Click me!</button>
</body>
</html>