<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create new Post</h1>
    <form class="form" method="post" action="/posts">
        <input class="userForm" type="text" placeholder="enter username" name="username"><br>
        <textarea name="content"  class="ContentForm" placeholder="write your post" cols="30" rows="10"></textarea><br>
        <button type="submit" class="submit">Add post</button>
    </form>
</body>
</html>